.viewport{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0px;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 60vh;
    min-width: 100vb;
    background-image: url(/images/header-bg-img.jpeg);
}

.main-site-nav{
    margin-inline-start: auto;
    margin-inline-end: 13em;
    padding-block-start: 1rem;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffff;
    
}

.site-icon{
    display: none;
}

header > div[class="user-action"]{
    margin-inline-start: auto;
    margin-inline-end: 12em;
    padding-block-start: 1.5rem;
    display: flex;
    align-self: first baseline;
    gap: 2rem;
}

header > div[class="head-name"]{
    grid-column: 1 / span 2;
    text-align: center;
}

h1{
    color: #ffff;
    font-size: 3.7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-inline-start: auto 0;
}

div[class="head-name"] > p{
    color: #ffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    margin-top: -1%;
}


.main-site-nav > ul{
    display: flex;
    gap: 3em;
}
.main-site-nav > ul li{
    list-style-type: none;
}
.search{
    height: 1.5em;
    align-self: center;
}

.Subscribe{
    min-width: 105px;
    min-height: 44px;
    border-radius: 32px;
    font-size: medium;
    font-weight: bold;
    border: none;
} 
 
.Sign-in{
    background-color: transparent;
    border: none;
    color: #ffff;
    font-weight: bold;
    font-size: 110%;
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3vmin 3vmax;
    padding: 3% 10%;
}

.post-1 {
    display:flex;
    grid-column: 1 / 5;
}

.post-1 > img{
    max-height: 48vh;
    min-width: 100%;
}

.post-1-content{
    display: flex; 
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 5 / 7;
    gap: 15px;
}

.post-1-content > header > span{
    color: #979797;
}

h2{
    font-size: 2em;
    margin-block-start: 1%;
}

.post-1-text{
    line-height: 1.5em;
    margin-block-start: -9%;
}



.post-2{
    display:flex;
    flex-direction: column;
    grid-column: 1 / 4;
    gap: 10px;
}

.post-head > div{
    display: flex; 
    gap: 1em;
}

.post-2 > img{
  max-height: 35vh;
  min-width: 100%;
}

.post-3{
    display:flex;
    flex-direction: column;
    grid-column: 4 / 7;
    gap: 15px;
}

.post-3 > img{
    max-height: 35vh; 
    min-width: 100%;
}

.post-1-3{
    display: flex; 
    flex-direction: column; 
    grid-column: 1 / 3; 
    gap: 20px;
}

.post-text{
    margin-block-start: -2%;
}

.post-3-5{
    display: flex; 
    flex-direction: column; 
    grid-column: 3 / 5; 
    gap: 20px;
}



.post-5-7{
    display: flex; 
    flex-direction: column; 
    grid-column: 5 / 7; 
    gap: 20px;
}

#larger{
    max-height: 27.3vh;
}

#paid{
    min-height: 24vh; 
    max-width: 100%;
}

.paid-member-section{
    position: relative;
}

.paid-member-section > div{
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    color: #ffff;
}

.main-footer{
    background-color: #0a0b0c;
    min-width: 100vb;
    color: #ffff;
    margin: max(12vmin, 64px) 0 0;
    padding-bottom: 140px;
    padding-top: 48px;
    font-size: 13px;
}

.footer-inner{
    display: flex;
    justify-content: space-around;
    grid-template-columns: auto 1fr auto;
    column-gap: 40px;
    margin-inline: 10%;
    color: hsla(0, 0%, 100%, .7);
}

.footer-nav > ul{
    display: flex;
    gap: 2em;
    list-style-type: square;
    justify-content: center;
    margin-block-start: 0px;
}

#type-none{
    list-style-type: none;
}

b{
    color: rgb(206, 199, 199);
    font-weight: 10px;
    letter-spacing: -0.015em;
}

.content-grid footer{
    color: #979797;
    font-size: small;
}

.featured{
    color: #ff0095;
    font-weight:bold;
}

.start{
    font-size: 14px;
    color: #979797;
    font-weight: bold;
}

.subscribe-float{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 15px;
    position: fixed;
    right: 60px;
    bottom: 36px;
    min-width: 125px;
    min-height: 54px;
    border-radius: 32px;
    font-size: medium;
    border: none;
    background-color: #ff0095;
    color: #ffff;
}
#paid{
    position: relative;
}

.Paid-members{
    filter: blur(5px) brightness(50%);
}

@media only screen and (max-width: 1125px) {
    header > div[class="user-action"]{
        display: none;
    }

    .header-grid{
        font-size: 1.2em;
    }
   
    .content-grid{
        display: flex;
        flex-direction: column;
    }

    .post-1-text{
        margin-block-start: -1%;
    }

    #larger{
        min-height: 45vh;
    }

    #paid{
    
        min-width: 100%;
    }

}

@media only screen and (max-width: 1024px){
    .main-site-nav{
        margin-inline-end: 23%;
        grid-column: 1 / 3;
    }  
} 

@media only screen and (max-width: 768px){
    .main-site-nav{
        margin-inline-end: 17%;
        grid-column: 1 / 3;
    }  
} 

@media only screen and (max-width: 426px){
   .main-site-nav{
     display: none;
   }

   .site-icon{
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-around;
    color: #ffff;
    font-size: 25px;
    margin-block-start: 3%;
    margin-block-end: -3%;
   }
}



